*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
    margin: 20px 0;
}
.img{

    background-color: #fff;
    margin: auto;
    max-width: 100%;
    height: 150px;
    display: inline-block;
    border-radius:50px;
    margin-top: 50px;
    margin-right: 15px;
}
img:hover{
  border: #171010;
  border-style: solid;
}
img:active{
  border: #171010;
  border-style: solid;
  background-color: bisque;
}
#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  gap: 20px;
  margin-top: 50px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

#you, #bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#you > p, #bot > p {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px; 
}

#you-label p, #bot-label p {
  font-size: 18px;
  margin: 0;
}

.result {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  background-color: rgb(190, 236, 116);
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
}

#box > .player {
  display: inline-block;
}

#box {
  flex-direction: column;
}

#box > .player-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

*{
  background:ligh
}